<h3>Configuration for transferring to Bitgravity CDN: FTP</h3>
<dl>
		<dt>FTP Username</dt>
		<dd><%= h provider.origin_ftp_username %></dd>

		<dt>FTP Password</dt>
		<dd><%= confidential_field_data( 'provider', 'origin_ftp_password' ) { '"' + @provider.origin_ftp_password.to_s + '" (no quotes)' } %> (<%= confidential_field_reveal_control( 'provider', 'origin_ftp_password' ) %>)</dd>

		<dt>FTP Hostname</dt>
		<dd><%= h provider.origin_ftp_host %></dd>

		<dt>FTP Host Path Prefix</dt>
		<dd><%= h provider.origin_ftp_path_prefix %></dd>

		<dt>Sample FTP Path</dt>
		<dd>
			<dl>
              <dt>Sample File Hash</dt>
              <dd>254aa41e372f57f9ecacca049b81422b8a58718485b4dfbcd58d4a2e588e6f22</dd>
			<dt>Sample File Extension</dt>
			<dd>.mp4</dd>
			<dt>FTP Path</dt>
			<dd>ftp://<%= h provider.origin_ftp_username %>:PASSWORD@<%= provider.origin_ftp_host %><%= provider.path( '254aa41e372f57f9ecacca049b81422b8a58718485b4dfbcd58d4a2e588e6f22', 'mp4' ) %></dd>
			</dl>
		</dd>
</dl>

<h3>Configuration for watching from CDN: Connectivity</h3>

<dl>

	<dt>HTTP Server Name</dt>
	<dd><%= h provider.download_http_host %></dd>

  <dt>Company ID (provided by BitGravity)</dt>
  <dd><%= h provider.company_id %></dd>

	<dt>Sample HTTP URI</dt>
	<dd>
		<p>This is there to help determine where any configuration problems may occur</p>
		<dl>
		<dt>Sample File Hash</dt>
		<dd>254aa41e372f57f9ecacca049b81422b8a58718485b4dfbcd58d4a2e588e6f22</dd>
		<dt>Sample File Extension</dt>
		<dd>.mp4</dd>
		<dt>HTTP URI</dt>
		<dd><%= provider.http_uri( '254aa41e372f57f9ecacca049b81422b8a58718485b4dfbcd58d4a2e588e6f22', 'mp4' ) %></dd>
		</dl>
	</dd>
</dl>


<h3>Configuration for watching from BitGravity CDN: Security</h3>

<dl>
	<dt>Protect this content from download using tokens?</dt>
	<dd><%= h provider.secure? %></dd>

	<% if provider.secure? %>
	<dt>Tokenized Asset Protection Secret</dt>
	<dd><%= confidential_field_data( 'provider', 'protect_secret' ) { '"' + @provider.protect_secret.to_s + '" (no quotes)' } %> (<%= confidential_field_reveal_control( 'provider', 'protect_secret' ) %>)</dd>

	<dt>Token: Time Interval (Seconds)</dt>
	<dd><%= h provider.protect_time_interval_in_seconds %></dd>

	<dt>Media Vault Security: Time Clock Skew Buffer (Seconds)</dt>
	<dd><%= h provider.protect_time_clock_skew_in_seconds %></dd>
	<% end %>
</dl>
