<h1>List</h1>

<% if @pagination.empty? %>
<p>No home page blocks created</p>
<% else %>
    <%= pagination_buttons( @pagination ) %>


<ul class="control_list alternate">
  <% @pagination.items_for_current_page.each do |hpb| %>
  <li><span class="name"><%= link_to hpb.machine_name, :action => 'edit', :id => hpb.id %></span>

    <ul class="actions">
      <li><% if hpb.visible %>
        <%= button( 'hide', { :action => 'hide', :id => hpb.id } ) %>
      <% else %>
            <%= button( 'show', { :action => 'show', :id => hpb.id } ) %>
      <% end %></li>
      <li><%= button( 'remove', { :action => 'destroy', :id => hpb.id } ) %></li>
      <li><%= ( !hpb.eql?@pagination.items_for_current_page.first or !hpb.acts_as_ordered_is_last? ) ? button( 'top', { :action => 'move_block_to_top', :id => hpb.id }, { :confirm => "This will make this episode appear as the latest. Are you sure you want to do this?" } ) : 'top' %></li>
      <li><%= ( !hpb.eql?@pagination.items_for_current_page.first or !hpb.acts_as_ordered_is_last? ) ? button( 'up', :action => 'move_block_order_up', :id => hpb.id ) : 'up' %></li>
      <li><%= ( !hpb.eql?@pagination.items_for_current_page.last or !hpb.acts_as_ordered_is_first? ) ? button( 'down', :action => 'move_block_order_down', :id => hpb.id ) : 'down' %></li>
      <li><%= ( !hpb.eql?@pagination.items_for_current_page.last or !hpb.acts_as_ordered_is_first? ) ? button( 'bottom', { :action => 'move_block_to_bottom', :id => hpb.id }, { :confirm => "This will move this episode to the bottom of the list. Are you sure?" } ) : 'bottom' %></li>
      <li><% form_tag( { :action => 'move_block_to_location' , :id => hpb.id }, { :method => 'post', :class => 'ordering' } ) do %>
            <div><input style="text-align:right;" type="text" name="location" value="<%= HomePageBlock.count - hpb.acts_as_ordered_order %>" /><button>Move</button></div>
        <% end %></li>
    </ul>
  </li>
  <% end %>
</ul>


    <%= pagination_buttons( @pagination ) %>
<% end %>