<h1>Administrator Dashboard</h1>

<ul>
	<li><%= link_to( 'Settings', :controller => '/admin/settings' ) %></li>
	<li><%= link_to( 'Users', :controller => '/admin/users' ) %></li>
	<li><%= link_to( 'Maintenance', :controller => '/admin/maintenance' ) %></li>
	<li><%= link_to( 'Tasks', :controller => '/admin/task_runner_tasks' ) %></li>
	<li><%= link_to( 'Hosting Providers', :controller => '/admin/hosting_providers' ) %></li>
</ul>
