<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title><%= h( @show.scheduled_version_current(@time).title ) %> @ <%= h( Setting['vms-protected-site-head-title'].value ) %></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="description" content="<%= h( strip_tags( @show.scheduled_version_current(@time).description ) ) %>"/>
	<meta name="keywords" content="<%= h( @show.keywords ) %>"/>

  <!-- header-head-include -->
  <%= Liquid::Template.parse( PageLayout.first( :conditions => "programmatic_name = 'header-head-include'" ).scheduled_version_current( @time ).layout ).render({'is_ssl' => @controller.request.ssl?}) %>
  <!-- /header-head-include -->

  <% if !@show.scheduled_version_current(@time).page_injected_css.nil? and !@show.scheduled_version_current(@time).page_injected_css.empty? %>
      <style type="text/css">
          <%= @show.scheduled_version_current(@time).page_injected_css %>
      </style>
  <% end %>


  <!-- shows-episodes-header-include -->
  <%= Liquid::Template.parse( PageLayout.first( :conditions => "programmatic_name = 'shows-episodes-header-include'" ).scheduled_version_current( @time ).layout ).render( { 'show' => @show_drop, 'is_ssl' => @controller.request.ssl? } ) %>
  <!-- /shows-episodes-header-include -->

</head>
<body>
<%= javascript_tag( @show.scheduled_version_current(@time).page_injected_javascript ) if !@show.scheduled_version_current(@time).page_injected_javascript.nil? and !@show.scheduled_version_current(@time).page_injected_javascript.empty? %>
<%= layouts_common_body_include do; yield; end %>
</body>
</html>
